<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sample.topmovies" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.BaseApp"
        android:icon="@drawable/cinema"
        android:label="@string/app_name"
        android:theme="@style/Theme.TopMovies"
        tools:targetApi="31" >

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TMDBActivity">
        </activity>
    </application>

</manifest>